.navbar .nav-link{
    color: #fff;
}
.login-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.form-container .row{
    justify-content: center;
}
.user-files{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}
.file-item{
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
}
#from__create__folder{
    display: none;
}
#from__create__folder.open{
    display: flex;
}